---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
import Card from '../components/Card.astro'
import Notices from '../components/Notices.astro'
import { createClient } from 'microcms-js-sdk'

interface ResponseEntry {
  id: string
  createdAt: string
  publishedAt: string
  revisedAt: string
  slug: string
  title: string
  description: string
  image?: {
    url: string
    height: number
    width: number
  }
  dblcol: boolean
  contents: string
}

const client = createClient({
  serviceDomain: import.meta.env.SECRET_MCMS_DOMAIN,
  apiKey: import.meta.env.SECRET_MCMS_API_KEY,
})
const res = await client.get({ endpoint: 'pages' })
---

<Layout title="長野ジュニアフォーラム" desc="幼児〜中学生の個別指導">
  <Carousel />
  <div class="p-6 grid gap-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      {res.contents.map((entry: ResponseEntry) => (
        <Card
          slug={entry.slug}
          title={entry.title}
          description={entry.description}
          image={entry.image?.url}
          dblcol={entry.dblcol}
        />
      ))}
    </div>
    <Notices />
  </div>
</Layout>
